@model ReportResponse

<div class="balance-section">
    <h2>Credit Card Details</h2>
    <table>
        <tr>
            <th>Balance</th>
            <td>@Model.CreditCardDetails.balance</td>
        </tr>
        <tr>
            <th>Balance Actual</th>
            <td>@Model.CreditCardDetails.Currentbalance</td>
        </tr>
        <tr>
            <th>Interes</th>
            <td>@Model.CreditCardDetails.Interest</td>
        </tr>
    </table>
</div>

<div>
    <div class="transactions-button-generate">
        <h2>Transactiones</h2>
        <a class="generate-pdf" href="@Url.Action("DetailsPDF", "Transaction", new { Id = ViewBag.Id, FromDate = ViewBag.FromDate })">Generar Reporte</a>
        
    </div>
    <table>
        <tr>
            <th>Concepto</th>
            <th>Tipo de transaccione</th>
            <th>Dia de transaccion</th>
            <th>Monton</th>
            <th>Balance anterior</th>
            <th>Balance actual</th>
        </tr>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>@transaction.Concept</td>
                <td>@transaction.TransactionType</td>
                <td>@transaction.TransactionDate.ToString("yyyy-MM-dd")</td>
                <td>@transaction.Amount</td>
                <td>@transaction.OldBalance</td>
                <td>@transaction.NewBalance</td>
            </tr>
        }
    </table>
</div>

<style>
    /* Agrega estilos CSS aquí */
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .balance-section {
        margin-bottom: 20px;
    }

    .balance-label {
        font-weight: bold;
    }

    .transactions-button-generate{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px
    }
    .generate-pdf{
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration:none;
        padding: 10px;
        align-items: center;
    }

    .generate-pdf:hover {
        color: white;
        text-align: center
    }
</style>
